*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: small;
}
h5{
    color: rgb(0, 26, 255);
    
    
}
 table {
    border: 1px solid #f0f0f0 !important;
}
 table th{
    padding: 20px !important;
    vertical-align: middle;
    white-space: nowrap;
    
    }
 table td { 
    padding: 20px !important;
    }
    .product_Details {
        background-color: #fff;
        /* border: 1px solid #f0f0f0 !important; */
        border-radius: 4px;
    }
    

